* {
    margin: 0;
    padding: 0;
}
body{
    font: 16px/1.8 "Lato", "Microsoft Jhenghei", "Hiragino Sans GB", "Microsoft YaHei", arial, sans-serif;
    background: url('../images/b4.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}
a {
    color: #fff;
}

p {
    margin: 20px auto;
}

ul, ol {
    list-style: none;
}

.container{
    position: relative;
    margin: 100px auto 0;
    max-width: 500px;
    background: rgba(0,0,0,0.3);
    border-radius: 20px;
}
.container h1 {
    text-align: center;
    position: relative;
    top: -10px;
    opacity: 0;
}
.quote {
    position: relative;
    margin: 20px 0;
    color: #fff;
    text-align: center;
}
.quote::before, .quote::after {
    position: absolute;
    content: ' ';
    display: block;
    width: 100%;
    height: 24px;
    opacity: 0.2;
}
.quote::before {
    top: -20px;
    border-top: 1px solid #ccc;
}
.quote::after {
    bottom: -20px;
    border-bottom: 1px solid #ccc;
}

.quote p, .quote div {
    text-align: center
}
.quote p {
    width: 80%;
    border-bottom: 1px dashed #fff;
}
.menu {
    margin-top: 40px;
    text-align: center;
    font-size: 14px;
}

.menu a {
    display: inline-block;
    position: relative;
    margin-left: 10px;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
}

.menu a:hover {
    border-bottom: 1px solid #333;
}

.menu a:active {
    top: 1px !important;
}

.menu a:first-child {
    margin-left: 0;
}
.location {
    text-align: center;
}
.location-icon {
    position: relative;
    top: 10px;
    opacity: 0;
    display: inline-block;
    vertical-align: top;
    width: 16px;
    height: 40px;
    background: url('../images/gps.png') no-repeat center;
    background-size: 16px;
}
.location-text {
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
}
.animate-init {
    position: relative;
    top: -10px;
    opacity: 0;
}